{% load static %}
{% load render_bundle from webpack_loader %}
<div class="containerModal">
    <div id="modalVue"  class="resizable ui-widget-content">
        {% render_bundle 'main' %}
    </div>
    <div class="drop-up-container">
        <button id="openButton" class="bg-green-800 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Abrir Consola
        </button>
    </div>
</div>
<script>    
    const openButton = $('#openButton');    
    let isOpen = false;
    const modal = $("#modalVue");
    $(modal).toggle();

    // Activar el redimensionamiento del modal
    modal.resizable({
        handles: "nw", // Mostrar el asa de redimensionamiento en la esquina inferior derecha
        maxHeight: 400,
        maxWidth: 500,
        minWidth: 400, // Establecer el ancho mínimo del modal
        minHeight: 200, // Establecer la altura mínima del modal
    });

    // Abrir y cerrar la ventana modal
    openButton.click(function() {
        $(modal).toggle();
        isOpen = !isOpen;
        if (isOpen) {
            openButton.text("Cerrar Consola")
        } else {
            openButton.text("Abrir Consola")
        }
    });
</script>