{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
<body id="bodyInfo" class="bg-green-300">
    <header class="header bg-green-700 text-white flex justify-between items-center px-4 w-full">
        <div class="imagenHeader w-1/5">
            <img src="{% static 'img/verdura1.png' %}" alt="Mi imagen" class="w-full">
        </div>
        <div class="titulo w-3/5 text-center pt-5">
            <h1 class="text-3xl">Pren arrels</h1>
            <p>Fes créixer la teva verdura i evita ser desplantat!</p>
            <nav class="navbar flex justify-around items-center py-2">
            <a class="nav-link button bg-white text-green-700 font-bold uppercase py-2 px-4 rounded-full" href="./accounts/login">Iniciar sessió</a>
            </nav>
        </div>
        
        <div class="imagenHeader w-1/5">
            <img src="{% static 'img/verdura1.png' %}" alt="Mi imagen" class="w-full">
        </div>
    </header>      
    <main>
        <section class="hero bg-green-700 text-white text-center py-20 my-4 rounded-md">
            <h1 class="text-3xl mb-4">Benvinguts al món de les verdures!</h1>
            <p class="text-xl mb-4">Prepara't per cuidar la teva verdura i fer-la créixer el més possible.</p>
            <a href="./register" class="button bg-green-300 text-green-700 px-6 py-3 rounded-md font-bold uppercase tracking-wide">Registra't ara</a>
        </section>
        <div class="descripcion flex justify-between">
            <section class="cta bg-green-700 text-white text-center py-8 px-6 my-4 w-1/2 rounded-lg">
                <h2 class="text-2xl mb-4">Vols tindre la verdura més gran?</h2>
                <p class="text-lg mb-10">Uneix-te a la nostra comunitat i comparteix els teus consells per fer créixer verdures.</p>
                <div class="horarioTemporada bg-green-300 py-20 text-green-700 rounded-full">
                    <h1 class="text-2xl mb-4">Temporada actual</h1>
                    <p class="text-lg mb-4">Data d'inici: {{ global_option.start_date }}</p>
                    <p class="text-lg mb-4">Data final: {{ global_option.end_date }}</p>
                    <p class="text-lg mb-4">Per a la propera temporada falta: {{ time_left }}</p>
                </div>
            </section>
        
            <section class="cta2 bg-green-700 text-white text-center py-8 px-6 my-4 w-1/2 rounded-lg">
                <h2 class="text-2xl mb-4">Com funciona?</h2>
                <p class="text-lg mb-4">En aquest joc, ets una verdura plantada a un jardí i el teu objectiu és créixer el més possible i evitar ser desplantat. Tot i això, el clima i altres perills et poden fer perdre vida.</p>
                <p class="text-lg mb-4">Cada dia, el clima canviarà i afectarà el teu creixement de maneres diferents. Si el clima és assolellat i càlid, la teva verdura creixerà més ràpid i guanyarà més vida. Si el clima és plujós o fred, la teva verdura creixerà més lentament i perdrà vida.</p>
                <p class="text-lg mb-4">A més del clima, altres perills aguaiten al jardí. Els insectes i les plagues poden atacar i reduir la vida de la teva verdura. I si les altres verdures decideixen atacar-te i acabes en males condicions, perdràs tot el teu progrés i hauràs de començar de nou.</p>
                <p class="text-lg mb-4">Per jugar, hauràs de cuidar la teva verdura i fer tot el possible perquè creixi el més possible. Al final de cada dia, podràs veure el teu progrés i com el clima i els perills van afectar la teva verdura.</p>
                <p class="text-lg mb-4"></p>
            </section>
        </div>
    </main>        
</body>
{% endblock %}
