{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Ranking {% endblock %}
{% block content %}
{% include 'header.html' with title="Ranking, " user="" %}
{% include 'navbar.html' %}
<body class="bg-green-300">
    <div id="app">
    <main class="container mx-auto my-4">
        <div class="divStats">
            <h2 class="text-lg font-semibold mb-2">Informació personal usuari</h2>
            <table class="border border-black" width="30%">
                <thead class="bg-green-700 text-white text-center">
                    <tr>
                        <th class="p-2">
                            Nivell
                        </th>
                        <th class="p-2">
                            Vida
                        </th>
                        <th class="p-2">
                            Manà
                        </th>
                        <th class="p-2">
                            Experiència
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-black text-center" id="profileStats">
                        <td class="p-2" id="profileStatsLevel"></td>
                        <td class="p-2" id="profileStatsLife"></td>
                        <td class="p-2" id="profileStatsMana"></td>
                        <td class="p-2" id="profileStatsExperience"></td>
                    </tr>
                </tbody>
            </table>
            <table class="border-b border-l border-r border-black" width="30%">
                <tbody>
                    <tr class="border-b border-black">
                        <td class="p-2  border-r border-black" style="width:10%">Vida</td>
                        <td class="p-2">
                            <div id="profileStatsLifeBar"></div>
                        </td>
                    </tr>
                    <tr class="border-b border-black">
                        <td class="p-2 border-r border-black" style="width:10%">Manà</td>
                        <td class="p-2">
                            <div id="profileStatsManaBar"></div>
                        </td>
                    </tr>
                    <tr class="border-b border-black">
                        <td class="p-2 border-r border-black" style="width:10%">Experiencia</td>
                        <td class="p-2">
                            <div id="profileStatsExperienceBar"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 class="mt-10 text-lg font-semibold mb-2">Ranking Pren Arrels</h2>
        <table class="border border-black">
            <thead class="bg-green-700 text-white">
                <tr>
                    <th class="p-2">
                        Nom
                    </th>
                    <th class="p-2">
                        Nivell
                    </th>
                    <th class="p-2">
                        Experiència
                    </th>
                    <th class="p-2">
                        Vida
                    </th>
                    <th class="p-2">
                        Manà
                    </th>
                    <th class="p-2">
                        Posició
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, index) in dataPage" class="border-b border-black">
                    <td class="p-2 text-center">
                        <a> [[ user.username ]]  </a>
                    </td>
                    <td class="p-2 text-center">
                        [[user.level]]
                    </td>
                    <td class="p-2 text-center">
                        [[user.experience]]
                    </td>
                    <td class="p-2 text-center">
                        [[user.current_life]]
                    </td>
                    <td class="p-2 text-center">
                        [[user.current_mana]]
                    </td>
                    <td class="p-2 text-center">
                        [[getPosition(index)]]
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <div class="container mx-auto my-4 flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" id="paginator">
        <div class="flex flex-1 justify-between sm:hidden">
          <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
          <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
        </div>
        <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
          <div>
            <p class="text-sm text-gray-700">
              Mostrant
              <span class="font-medium">[[currentPage]]</span>
              a
              <span class="font-medium">[[totalPages()]]
              </span>
              de
              <span class="font-medium">[[arrayUsers.length]]</span>
              resultats
            </p>
          </div>
            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
              <a v-on:click="getPreviusPage()" href="#" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Previous</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                </svg>
              </a>
              <a v-for="page in totalPages()" v-on:click="getDataPage(page)" v-bind:class="isActive(page)" href="#" aria-current="page" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">[[page]]</a>
              <a v-on:click="getNextPage()" href="#" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Next</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
              </a>
            </nav>
        </div>
      </div>
    </div>
    {% render_bundle 'main' %}
    <script>
        getStats();
        getActions();
        getRelatedActions();
        setInterval(getRelatedActions, 30000);
        setInterval(getStats, 30000);
    </script>
</body>
{% endblock %}
