{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Ranking {% endblock %}
{% block content %}
<body class="bg-green-300">
    {% include 'header.html' with title="Ranking" user="" %}
    {% include 'navbar.html' %}
    <div id="app">
        {% render_bundle 'main' %}    
    </div>
    <script>
        getStats();
        getActions();
        getRelatedActions();
        setInterval(getRelatedActions, 30000);
        setInterval(getStats, 30000);
        atajosTeclas();
    </script>
</body>
{% endblock %}
