{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Play Action {% endblock %}
{% block content %}
{% include 'header.html' with title="Play-Action" user=""%}
{% include 'navbar.html' %}
<style>

</style>
{{msg|safe}}
<body class="bg-green-300">
<main class="container containerPers mx-auto my-4">
<div class="divStats">
  <h2 class="text-lg font-semibold mb-2">Informació personal usuari</h2>
  <table class="border border-black" width="100%">
    <thead class="bg-green-700 text-white text-center">
        <tr>
            <th class="p-2">
                Nivell
            </th>
            <th class="p-2">
                Vida
            </th>
            <th class="p-2">
                Manà
            </th>
            <th class="p-2">
                Experiència
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-b border-black text-center" id="profileStats">
            <td class="p-2" id="profileStatsLevel"></td>
            <td class="p-2" id="profileStatsLife"></td>
            <td class="p-2" id="profileStatsMana"></td>
            <td class="p-2" id="profileStatsExperience"></td>
        </tr>
    </tbody>
</table>
  <table class="border-b border-l border-r border-black" width="100%">
      <tbody>
          <tr class="border-b border-black">
              <td class="p-2  border-r border-black" style="width:10%">Vida</td>
              <td class="p-2">
                  <div id="profileStatsLifeBar"></div>
              </td>
          </tr>
          <tr class="border-b border-black">
              <td class="p-2 border-r border-black" style="width:10%">Manà</td>
              <td class="p-2">
                  <div id="profileStatsManaBar"></div>
              </td>
          </tr>
          <tr class="border-b border-black">
              <td class="p-2 border-r border-black" style="width:10%">Experiencia</td>
              <td class="p-2">
                  <div id="profileStatsExperienceBar"></div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div class="flex items-center justify-flex-start h-screen bg-green-300">
    <div class="w-full max-w-md">
    <h1 class="text-4xl text-green-900 font-bold p-10 text-center">Selecciona una acció</h1>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" autocomplete="off">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.accio.id_for_label }}" class="block text-gray-700 font-bold mb-2">Acció:</label>
            {{form.action}}
        </div>
        <div class="mb-4" id="jugadorAtacar">
            <label for="{{ form.jugador_a_atacar.id_for_label }}" class="block text-gray-700 font-bold mb-2">Jugador a atacar</label>
            {{ form.jugador_a_atacar }}
        </div>
        <input type="submit" name="submit" class="bg-green-700 text-white font-bold py-2 px-4 rounded-full w-full" id="btnSubmit">
    </form>
    </div>
</div>
</main>
</body>
<script>
    $(document).ready(function(){
        $("#id_action").first().val("selected")
        $(".btn-alert").click(function (){
            $(".btn-alert").parent().remove()
        
        })
        $('#id_action').on('change', function(){
            var seleccion = $('#id_action').val();
            if (seleccion > 4 && seleccion <= 7 ) {
                $('#jugadorAtacar').hide();
            }else{
                $('#jugadorAtacar').show();
            }
        })
        $('#id_action').addClass("shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline");
        $('#id_jugador_a_atacar').addClass("shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline");
        getStats();
        getActions();
        getRelatedActions();    
        setInterval(getRelatedActions, 30000);
        setInterval(getStats, 30000);
    });

</script>
{% endblock %}
