{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Perfil {% endblock %}
{% block content %}
<body class="bg-green-300">
    {% include 'header.html' with title="Dashboard" %}
    {{msg|safe}}
    <div id="myModal" class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center hidden">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
          <div class="modal-content py-4 text-left px-6">
            <div class="flex justify-between items-center pb-3">
              <p class="text-2xl font-bold">Tria a un jugador</p>
              <button id="closeModal" class="modal-close cursor-pointer z-50">
                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M18 1.8L16.2 0L9 7.2L1.8 0L0 1.8L7.2 9L0 16.2L1.8 18L9 10.8L16.2 18L18 16.2L10.8 9L18 1.8Z"/>
                </svg>
              </button>
            </div>
            
            <form method="post">
                {% csrf_token %}
              <label for="select" class="block text-gray-700 font-bold mb-2">Jugador per atacar</label>
              {{form.jugador_a_atacar}}
              <div class="flex justify-end pt-2">
                <button type="submit" class="modal-close px-4 bg-blue-500 p-3 rounded-lg text-white hover:bg-blue-400" name="button_choice" id="btn-submit">Submit</button>
              </div>
            </form>
      
          </div>
        </div>
      </div>
    <main class="container mx-auto my-4">
        <div>
            <h2 class="text-lg font-semibold mb-2">Informació personal usuari</h2>
            <table class="border border-black">
                <thead class="bg-green-700 text-white text-center">
                    <tr>
                        <th class="p-2">
                            Nivell
                        </th>
                        <th class="p-2">
                            Vida
                        </th>
                        <th class="p-2">
                            Manà
                        </th>
                        <th class="p-2">
                            Experiència
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-black text-center" id="profileStats">
                        <td class="p-2" id="profileStatsLevel">

                        </td>
                        <td class="p-2" id="profileStatsLife">

                        </td>
                        <td class="p-2" id="profileStatsMana">

                        </td>
                        <td class="p-2" id="profileStatsExperience">

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div >
            <button class="mi-boton">Haz clic aquí</button>
            <form method="post" id="formProfile">
                {% for action in actions %}
                        {% csrf_token %}
                        {% if action.category == "A" %}
                            <button style="background-image: url('img/mi_imagen.jpg');" type="submit" name="button_choice" value="{{ action.id }}" class="{{action.category}}" id="openModal">{{ action.name }}</button>
                        {% else %}
                            <button style="background-image: url('img/mi_imagen.jpg');" type="submit" name="button_choice" value="{{ action.id }}" class="{{accions.category}}">{{ action.name }}</button>
                        {% endif %}
                {% endfor %}
            </form>
        </div>

        <div>
            {% if userLoged|length >= 1 %}
            <h2 class="text-lg font-semibold mt-4 mb-2">Últimes 25 accions realitzades</h2>
            <table class="border border-black">
                <thead class="bg-green-700 text-white text-center">
                    <tr>
                        <th class="p-2">
                            Agressor
                        </th>
                        <th class="p-2">
                            Victima
                        </th>
                        <th class="p-2">
                            Nom Acció
                        </th>
                        <th class="p-2">
                            Categoria
                        </th>
                        <th class="p-2">
                            Moment Acció
                        </th>
                        <th class="p-2">
                            Cost
                        </th>
                        <th class="p-2">
                            Èxit
                        </th>
                    </tr>
                </thead>
                <tbody id="tbodyRelatedActions">
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
    <script>
        $(document).ready(function(){
            $('.A').click(function(e) {
                e.preventDefault();
                var valorBoton = $(event.target).val();
                $("#btn-submit").attr("value", valorBoton);
                $('#myModal').removeClass('hidden');
            });
            $('.modal-close').click(function(e) {
                $('#myModal').addClass('hidden');
            });

            setInterval(getStats, 30000);
            setInterval(getRelatedActions, 30000);
            function getStats() {
                $.getJSON("api/get_users",async function(usuari){
                    $('#profileStatsLevel').text(usuari.UsersObj[0].level);
                    $('#profileStatsLife').text(usuari.UsersObj[0].current_life);
                    $('#profileStatsMana').text(usuari.UsersObj[0].current_mana);
                    $('#profileStatsExperience').text(usuari.UsersObj[0].experience);  
                });
            }
            function getRelatedActions() {
                $.getJSON("api/get_related_actions",async function(actions){
                    $('#tbodyRelatedActions').empty();
                    actions.ActionsObj.forEach(action =>{

                    $('#tbodyRelatedActions').append('<tr class="border-b border-black text-center">');
                    if (action.user__username == null){
                        $('#tbodyRelatedActions').append(`<td class="p-2">     </td>`);
                    }else{
                        $('#tbodyRelatedActions').append(`<td class="p-2">`+action.user__username+`</td>`);
                    }
                    if (action.user_attacked__username == null){
                        $('#tbodyRelatedActions').append(`<td class="p-2">     </td>`);
                    }else{
                        $('#tbodyRelatedActions').append(`<td class="p-2">`+action.user_attacked__username+`</td>`);
                    }
                    $('#tbodyRelatedActions').append(`<td class="p-2">`+action.action__name+`</td>`);
                    if (action.action__category =='A'){
                        $('#tbodyRelatedActions').append(`<td class="p-2">Agressiva</td>`);
                    }else if (action.action__category == 'D'){
                        $('#tbodyRelatedActions').append(`<td class="p-2">Defensiva</td>`);
                    }else{
                        $('#tbodyRelatedActions').append(`<td class="p-2">Neutral</td>`);
                    }
                    $('#tbodyRelatedActions').append(`<td class="p-2">`+action.timestamp+`</td>`);
                    $('#tbodyRelatedActions').append(`<td class="p-2">`+action.action__cost+`</td>`);

                    if (action.success == false){
                        $('#tbodyRelatedActions').append(` <td class="p-2"><i class="fa fa-sharp fa-solid fa-circle-xmark" style="color: #a73131;"></i></td>`);
                    }else{
                        $('#tbodyRelatedActions').append(`<td class="p-2"><i class="fa fa-solid fa-circle-check" style="color: #316e32;"></i></td>`);
                    }
                    $('#tbodyRelatedActions').append(`</tr>`);
                    })
                });
            }
            getStats();
            getRelatedActions();
        });
    </script>
</body>
<style>
.mi-boton {
        background-image: url('/static/img/zanahoria.png');
        background-size: cover;
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

</style>
{% endblock %}
