main * {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: #ffffff;
    color: #000000;
}

/* Animaciones botones */

