main{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: #ffffff;
    color: #000000;
  }

#formProfile > button{
    width: 500px;
}

.containerModal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.drop-up-container {
    margin-top: 10px;
}

#modalVue{
    overflow-y: scroll;
    height: 300px;
    width: 350px;
    padding: 10px;
    background-color: black;
    color: darkgreen;
    font-weight: bold;
    border-radius: 5px;
    left: auto !important;
    top: auto !important;
}